#-----------------------------------------------------------------------------
# Project-specific
data
**/images


#-----------------------------------------------------------------------------
# Python

**/.venv
**/__pycache__
**/*.pyc


#-----------------------------------------------------------------------------
# C++

**/*.o


#-----------------------------------------------------------------------------
# LaTeX

*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.toc
*.vrb

_minted-*
